.main-nav {
    ul {
        @include list-unstyled();
        display: grid;
        gap: .5em;
    }
    a {
        @include button-variant($gray-300, $gray-600);
        @extend .btn;
        display: block;
    }
}